html {
    width: 100vw;
    overflow: auto;
}

.lora {
    font-family: 'Lora', serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0; padding: 0;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
