<div class="container">
  <h2 class="lora">お知らせ一覧</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          絞り込み
        </mat-panel-title>
        <mat-panel-description>
          検索する学部、ジャンルを入力してください。
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-select name="departments" (selectionChange)="changeDepartment($event)" placeholder="学部一覧" [(value)]="selectedDepartment" [formControl]="departmentControl" multiple>
          <button mat-button (click)="checkallDepartments($event)" value="All">All</button>
          <button mat-button (click)="uncheckallDepartments($event)" value="None">None</button>
          <mat-optgroup *ngFor="let group of departmentGroups" [label]="group.name" [disabled]="group.disabled">
            <mat-option *ngFor="let department of group.departments" [value]="department.value">
              {{ department.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="genres" (selectionChange)="changeGenre($event)" placeholder="ジャンル" [(value)]="selectedGenre" [formControl]="genreControl" multiple>
          <button mat-button (click)="checkallGenre($event)" value="All">All</button>
          <button mat-button (click)="uncheckallGenre($event)" value="None">None</button>
          <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <pagination-controls *ngIf="articles.length !== 0" (pageChange)="p = $event"></pagination-controls>

  <p *ngIf="articles.length === 0" class="Lora">
    <strong>絞り込みに該当するお知らせはありません。</strong>
  </p>

  <ul>
    <li *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p }">
      <ul>
        <li *ngFor="let department of article.tags[0]"
            [ngClass]="{
              'bs': department === 'BS',
              'cs': department === 'CS',
              'es': department === 'ES',
              'ms': department === 'MS',
              'hs': department === 'HS',
              'ds': department === 'DS',
              'nu': department === 'NU',
              'grad': department == '院'
          }"
          class="department">{{ department }}
        </li>
      </ul>
      <ul>
          <li *ngFor="let tag of article.tags[1]" 
              [ngClass]="{
                'cancelled': tag === '休講情報',
                'supplied': tag === '補講情報',
                'classification': tag === 'クラス分け',
                'recruitment': tag === '募集',
                'announcement': tag === '発表',
                'employment': tag === '就職情報',
                'notification': tag === '告知',
                'others': tag === 'その他'
            }"
            class="tag">{{ tag }}</li>
      </ul>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </li>
  </ul>
    <pagination-controls *ngIf="articles.length !== 0"(pageChange)="p = $event"></pagination-controls>
</div>
